table.shop_attributes {
	tbody {
		border: 1px solid #dddddd !important;
	}

	th.attribute_group_name {
		padding: 7px !important;

		img.attribute-group-image {
			width: 26px !important;
		}
	}
}

@media screen and (max-width: 768px) {
	table.shop_attributes {
		th.attribute_group_name {
			font-size: 15px !important;
		}
	}
}