.post-type-shop_order, .woocommerce_page_wc-orders {
    .wp-list-table {
        .wp-locked {
            .order-preview {
                visibility: visible !important;
            }
        }
    }

    .wc-backbone-modal.wc-order-preview {
        .wc-action-button {
            display: none;
        }

        .wc-action-button-anbar,
        .wc-action-button-etebar,
        .wc-action-button-taeed {
            display: inline-block !important;
        }
    }

    .send-sms-to-user-meta-box {
        position: relative;

        &.loading {
            &::after {
                content: '';
                position: absolute;
                inset: 0 0 0 0;
                background-color: rgba(99, 99, 99, 0.62);
            }
        }
    }
}

.send-zpal-link-order-preview,
.send-refund-info-order-preview,
.set-order-category-preview {
    padding: 10px;
    margin: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 0 12px 5px rgb(0 0 0 / 7%);
}